<ul>
  <li>
    <%= link_to 'Add Image Slide', refinery.new_image_slideshows_admin_image_slideshow_image_slide_path,
                 :class => "add_icon" %>
  </li>
  <li>
    <%= link_to 'Reorder Image Slides',
                 refinery.image_slideshows_admin_image_slideshow_image_slides_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to 'Finish Reordering',
                 refinery.image_slideshows_admin_image_slideshow_image_slides_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
  <% if @image_slideshow.present? %>
    <li>
      <%= link_to "Back to Image Slideshows", refinery.image_slideshows_admin_image_slideshows_path,
                   :class => "back_icon" %>
    </li>
  <% end %>
</ul>